<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="DiscordRichPresence.Core" version="1.0.121" targetFramework="net48" />
  <package id="Fody" version="4.2.1" targetFramework="net48" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="Zlo" version="21.0.0" targetFramework="net48" />
</packages>